<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>todolist-v1</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <li>jvni</li>
      <li>favsfavs</li>
      <li>fsvdvsd</li>

      <%for(int i=0;i<=newListItem.length;i++){%>
        <li><%= newListItem[i] %></li>
      <% } %>
    </ul>

    <form class="" action="/" method="post">
      <input type="text" name="newItem" value="">

      <button type="submit" name="button">add</button>

    </form>
  </body>
</html>
