<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>todolist-v1</title>
  </head>
  <body>
    <% if(kindOfDay==="sunday"){ %>
    <h1 style="color:pink">today is <%= kindOfDay%> todolist !</h1>
    <% } else{ %>
      <h1 style="color:blue">today is <%= kindOfDay%> todolist !</h1>
    <% } %>
  </body>
</html>
